<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Details for taks {{task.task_id}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">
</head>
<body>
  <nav><div class="__navbar">
    <div class="__navbar-logo">
      <h1>Ze Remote</h1>
    </div>
    <div class="__navbar-menu">
    <ul class="__navbar-menu-close">
      <a href="{{url_for('upload')}}"><li><span>Upload</span></li></a>
      <a href="{{url_for('status')}}"><li><span>Tasks Status</span></li></a>
      <!-- <a href="{url_for('')}"><li><span>About</span></li></a> -->
    </ul>
  </nav>
  <div class="__content">
    <div class="__section">
        <pre>
        <table class='table' id="vertical-1">
            <tr>
                <th>Upload date</th>
                <td>{{task.date.split('.')[0]}}</td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{task.start_date.split('.')[0]}}</td>
            </tr>
            <tr>
                <th>Finish date</th>
                <td>{{task.end_date.split('.')[0]}}</td>
            </tr>
            <tr>
                <th>Total time</th>
                <td>{{task.execution_time.split('.')[0]}}</td>
            </tr>
            <tr>
                <th>Task Content</th>
                <td>{{task.task}}</td>
            </tr>
            <tr>
                <th>Stdout</th>
                <td>{{stdout}}</td>
            </tr>
            <tr>
                <th>Stderr</th>
                <td>{{stderr}}</td>
            </tr>
        </table>
        </pre>
    </div>
  </div>
<script  src="{{url_for('static', filename='navbar.js')}}"></script>
</body>
</html>
