<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple Responsive Navbar</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav><div class="__navbar">
      <div class="__navbar-logo">
        <h1>Example Site</h1>
      </div>
      <div class="__navbar-menu">
      <ul class="__navbar-menu-close">
        <a href="#home"><li><span>Home</span></li></a>
        <a href="#services"><li><span>Services</span></li></a>
        <a href="#help"><li><span>Help</span></li></a>
        <a href="#about"><li><span>About</span></li></a>
      </ul>
      <div class="__hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>  
      </div>
    </nav>
      <div class="__content">
        <div class="__section" id="home">
            <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
          </div>
        <div class="__section" id="services">
            <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
          </div>
        <div class="__section" id="help">
            <h1>Help</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
          </div>
        <div class="__section" id="about">
            <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quam vero porro voluptate sint? Quasi, dicta autem? Corporis, pariatur commodi nesciunt suscipit animi provident voluptatibus fuga quas optio, quam expedita sapiente, maxime voluptas hic. Veniam temporibus suscipit vitae distinctio error nulla amet culpa assumenda accusantium sed animi dolores repellendus autem enim sequi ex ducimus, ullam deleniti rem praesentium! Asperiores libero architecto atque eligendi at non dolorum! Ex accusantium natus, fugiat, mollitia vero tenetur sapiente cum eaque, delectus reprehenderit pariatur voluptatem iste deserunt consectetur libero quae nam repellendus commodi. Nesciunt ipsum doloremque officia voluptate aliquid velit sequi similique facere sunt non.</p>
          </div>
      </div>
    <script src="app.js"></script>
</body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
