<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signup ze remoto</title>

</head>
<body>
<div>
  {{ error }}
</div>
<div class="wrapper">
  <h1>Register</h1>
  
  <form class="form" method="POST" action="/signup">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username(size=20) }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password.label }}
    {{ form.password }}

    {{ form.confirm.label }}
    {{ form.confirm }}

    {{ form.adminpas.label }}
    {{ form.adminpas }}

    {{ form.submit }}
  </form>
</div>